body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    width: 200px;
    height: 100px;
    background-color: lightblue;

    padding: 20px;
    border: 10px solid blue;

    margin: 30px;
}

p{
    background-color: red;
}