.card{
    background-color: #8cc9e4;
    color: #30302e;
    padding: 20px;
    margin: 10px;
}

.container-flex{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #30302e;
    gap: 50px;
    align-items: center;
    justify-content:center;
    margin-bottom: 50px;
}

.bloco{
    background-color: #f5b236;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
}

.container-bloco{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #177405;
    align-items: end;
    justify-content:center;
    gap: 20px;
}